---
interface IGalleryImage {
  source: any;
  description: string;
}

const { source, description } = Astro.props as IGalleryImage;
import { Image } from "astro:assets";

import "./Figure.css";
---

<div class="figure">
  <figure class="figure__picture">
    <Image class="figure__image" src={source} alt={description} />
    <figcaption class="figure__caption">{description}</figcaption>
  </figure>
</div>
