---
import "./Feature.css";
import {GITHUB, LINKEDIN, X} from "@/consts";
---

<section class="feature">
	<div>
		<picture>
			<img class="feature__author-image" src="https://placehold.co/100" alt="">
		</picture>
		<h2 class="display feature__title">
			I'm Bomfim Developer
			based in Brazil
		</h2>
		<p class="body-regular feature__paragraph">
			a product designer and visual developer based in los angeles. I am skilled in visual development, responsive
			web design and UI/UX design.
		</p>
		<ul class="feature__social">
			<li>
				<a href={LINKEDIN} target="_blank" rel="nofollow" class="feature__social-item">
					<svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18" fill="none">
						<path d="M9.24286 6.22286C10.1861 5.25909 11.4142 4.62857 12.8429 4.62857C14.3432 4.62857 15.7821 5.22459 16.8431 6.28551C17.904 7.34643 18.5 8.78535 18.5 10.2857V18H16.4429V10.2857C16.4429 9.33093 16.0636 8.41526 15.3884 7.74013C14.7133 7.065 13.7976 6.68571 12.8429 6.68571C11.8881 6.68571 10.9724 7.065 10.2973 7.74013C9.62214 8.41526 9.24286 9.33093 9.24286 10.2857V18H7.18571V5.14286H9.24286V6.22286ZM2.04286 3.08571C1.63367 3.08571 1.24123 2.92316 0.951892 2.63382C0.662551 2.34448 0.5 1.95205 0.5 1.54286C0.5 1.13367 0.662551 0.741234 0.951892 0.451892C1.24123 0.162551 1.63367 0 2.04286 0C2.45205 0 2.84448 0.162551 3.13382 0.451892C3.42316 0.741234 3.58571 1.13367 3.58571 1.54286C3.58571 1.95205 3.42316 2.34448 3.13382 2.63382C2.84448 2.92316 2.45205 3.08571 2.04286 3.08571ZM1.01429 5.14286H3.07143V18H1.01429V5.14286Z"
							  fill="white"/>
					</svg>
				</a>
			</li>
			<li>
				<a href={X} target="_blank" rel="nofollow" class="feature__social-item">
					<svg xmlns="http://www.w3.org/2000/svg" width="22" height="18" viewBox="0 0 22 18" fill="none">
						<path d="M15.1905 2.16396C14.3687 2.16382 13.5797 2.48632 12.9932 3.06204C12.4068 3.63776 12.0698 4.4207 12.0548 5.24238L12.0245 6.9454C12.0227 7.03684 12.0016 7.12687 11.9626 7.20959C11.9236 7.2923 11.8676 7.36584 11.7981 7.42536C11.7287 7.48489 11.6475 7.52906 11.5598 7.55499C11.4721 7.58091 11.3799 7.588 11.2892 7.57579L9.60135 7.34656C7.38039 7.0438 5.25242 6.0209 3.21095 4.32004C2.56435 7.8991 3.82729 10.3785 6.86894 12.2913L8.75794 13.4785C8.8477 13.5349 8.92226 13.6125 8.97512 13.7044C9.02797 13.7962 9.0575 13.8997 9.06113 14.0056C9.06476 14.1116 9.04237 14.2168 8.99593 14.3121C8.94948 14.4074 8.88039 14.4898 8.79471 14.5522L7.0733 15.8098C8.09728 15.8736 9.06935 15.8282 9.87599 15.6681C14.9775 14.6496 18.3695 10.811 18.3695 4.47899C18.3695 3.96214 17.2752 2.16396 15.1905 2.16396ZM9.89221 5.20237C9.91109 4.16007 10.237 3.14649 10.8292 2.28855C11.4214 1.4306 12.2535 0.766421 13.2214 0.379156C14.1893 -0.00810895 15.2499 -0.101245 16.2704 0.111409C17.291 0.324062 18.2261 0.833056 18.9588 1.57466C19.7276 1.56925 20.3818 1.76389 21.8447 0.877232C21.4825 2.65054 21.3041 3.42041 20.5321 4.47899C20.5321 12.7422 15.4533 16.7602 10.2999 17.7885C6.76622 18.4935 1.62795 17.3355 0.155243 15.7979C0.905655 15.7395 3.95488 15.4119 5.71737 14.1219C4.22628 13.139 -1.70889 9.64645 2.1913 0.256574C4.02192 2.39427 5.87848 3.84968 7.75992 4.62172C9.01205 5.13533 9.31913 5.12452 9.89329 5.20345L9.89221 5.20237Z"
							  fill="white"/>
					</svg>
				</a>
			</li>

			<li>
				<a href={GITHUB} target="_blank" rel="nofollow" class="feature__social-item">
					<svg viewBox="0 0 16 16" aria-hidden="true" width="32" height="32" astro-icon="social/github"
						 data-astro-cid-sz7xmlte="">
						<path fill="currentColor"
							  d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"
							  data-astro-cid-sz7xmlte="">
						</path>
					</svg>
				</a>
			</li>


		</ul>
	</div>
</section>