---
import BaseHead from "@components/BaseHead.astro";
import Footer from "@components/Footer/Footer.astro";
import Header from "@components/Header/Header.astro";
import JoaoBomfimPhoto from "@assets/user-profile/joao-bomfim-profile-about.png";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import "./_About.css";
import UserPhoto from "@components/UserPhoto/UserPhoto.astro";
import Testimonials from "@components/Testimonials/Testimonials.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <section class="about">
        <div class="about__user-picture">
          <UserPhoto source={JoaoBomfimPhoto} rounded />
        </div>

        <div class="about__info">
          <h2 class="display about__title">HI. I'm Bomfim 😄</h2>

          <p class="body-regular about__paragraph">
            Front-end developer with 8+ years experience in HTML, CSS,
            JavaScript, React.JS/Next.JS with TypeScript, and Vue.js. Skilled in
            SASS, Styled Components, UI libraries (Vuetify, Material-UI), Git
            workflows (GitHub, GitLab, Bitbucket), AEM components, and WordPress
            templates. I foster cohesive, results-oriented environments and
            excel at conflict mediation while creating spaces for idea flow.
          </p>

          <div class="about__action">
            <a href="/linkedin" rel="nofollow" title="Linkedin" class="button"
              >Let's Connect</a
            >
          </div>
        </div>

        <div class="work-experience">
          <h3 class="heading-one work-experience__title">Work Experience</h3>
          <ul class="work-experience__list">
            <li class="work-experience__work">
              <span class="heading-two work-experience__business"
                >Mid FrontEnd Engineer - VBet Brasil</span
              >
              <span class="work-experience__period">Jan, 2025 - Now</span>
            </li>

            <li class="work-experience__work">
              <span class="heading-two work-experience__business"
                >Mid FrontEnd Engineer - Atomos Offical</span
              >
              <span class="work-experience__period">Out, 2023 - Jan, 2025</span>
            </li>

            <li class="work-experience__work">
              <span class="heading-two work-experience__business"
                >Mid FrontEnd Engineer - Juntos Somos Mais</span
              >
              <span class="work-experience__period">Dez, 2021 - Out, 2023</span>
            </li>

            <li class="work-experience__work">
              <span class="heading-two work-experience__business"
                >Senior FrontEnd Engineer - WPP</span
              >
              <span class="work-experience__period">Abr, 2018 - Nov, 2021</span>
            </li>

            <li class="work-experience__work">
              <span class="heading-two work-experience__business"
                >Mid FrontEnd Engineer - MKT Virtual</span
              >
              <span class="work-experience__period">Nov, 2016 - Mar, 2018</span>
            </li>

            <li class="work-experience__work">
              <span class="heading-two work-experience__business"
                >Entry-Level FrontEnd Engineer - Agência Manga</span
              >
              <span class="work-experience__period">Fav, 2014 - Out, 2016</span>
            </li>
          </ul>
        </div>

        <div class="about__technologies">
          <h3 class="heading-one about__technologies-title">
            I have skills with
          </h3>
          <ul class="about__technologies-list">
            <li class="about__technologies-each">
              <span class="heading-two about__technologies-name">React</span>
            </li>
            <li class="about__technologies-each">
              <span class="heading-two about__technologies-name">Vue</span>
            </li>
            <li class="about__technologies-each">
              <span class="heading-two about__technologies-name">WordPress</span
              >
            </li>
            <li class="about__technologies-each">
              <span class="heading-two about__technologies-name"
                >Adobe Experience Manager</span
              >
            </li>
            <li class="about__technologies-each">
              <span class="heading-two about__technologies-name"
                >TailwindCSS</span
              >
            </li>
            <li class="about__technologies-each">
              <span class="heading-two about__technologies-name">SASS</span>
            </li>
            <li class="about__technologies-each">
              <span class="heading-two about__technologies-name">UnitTests</span
              >
            </li>
          </ul>
        </div>
      </section>
      <Testimonials />
    </main>
    <Footer />
  </body>
</html>
