---
import {EMAIL_BR} from "@/consts";
import "./Contact.css";
---
<section class='contact'>
	<h5 class='contact__title'>lets gets working <br> together</h5>
	<a class='contact__email heading-two' href={EMAIL_BR}>{EMAIL_BR}</a>
</section>