---
import "./Header.css";
import {EMAIL_EN} from "@/consts";
---

<header class="header">
	<nav class="header__navigation">
		<div class="header__contact heading-three">
            {EMAIL_EN}
		</div>
		<button class="header__menu-toggle"></button>
		<div class="header__menu">
			<ul class="header__menu-ul">
				<li><a class="paragraph header__menu-link" href="/">Home</a></li>
				<li><a class="paragraph header__menu-link" href="/about">About</a></li>
				<li><a class="paragraph header__menu-link" href="/blog">Blog</a></li>
			</ul>
		</div>
	</nav>
</header>