---
import "./Header.css";
import HeaderLink from "@/components/HeaderLink.astro";
import { EMAIL_EN } from "@/consts";
---

<header class="header">
  <nav class="header__navigation">
    <h1 class="header__contact heading-three">
      {EMAIL_EN}
    </h1>
    <button data-js="menu" class="header__menu-toggle">
      Open or close the menu
    </button>
    <div data-js="menu-container" class="header__menu">
      <ul class="header__menu-ul">
        <li>
          <HeaderLink
            aria-label="João Bomfim - Home Page"
            title="João Bomfim - Home Page"
            class="paragraph header__menu-link"
            href="/">Home</HeaderLink
          >
        </li>

        <li>
          <HeaderLink
            aria-label="Learn more about me"
            title="Learn more about me"
            class="paragraph header__menu-link"
            href="/about">About</HeaderLink
          >
        </li>
        <li>
          <HeaderLink
            aria-label="See all my posts"
            title="See all my posts"
            class="paragraph header__menu-link"
            href="/blog">Blog</HeaderLink
          >
        </li>
      </ul>
    </div>
  </nav>
</header>

<script>
  const menuButton = document.querySelector('[data-js="menu"]');
  const menuContainer = document.querySelector('[data-js="menu-container"]');

  menuButton?.addEventListener("click", () => {
    menuContainer?.classList.toggle("header__menu--visible");
  });
</script>
