---
const today = new Date();

import { EMAIL_EN } from "@/consts";
import "./Footer.css";
---

<footer class="footer">
  <span class="footer__title">Let's keep in <br /> touch</span>
  <a class="footer__email heading-two" href={`mailto:${EMAIL_EN}`}>{EMAIL_EN}</a
  >
  <p>&copy; {today.getFullYear()} João Bomfim. All rights reserved.</p>
</footer>
