---
import "./Testimonials.css";
---

<section class="testimonials">
  <h3 class="heading-one testimonials__title">what they say about me</h3>
  <ul class="testimonials__list">
    <li class="testimonials__testimonial">
      <h4 class="testimonials__author">Cleverson Saraiva Pires</h4>
      <p class="body-regular testimonials__paragraph">
        João Bomfim (Bomffas) é um Dev de muita qualidade, conhecimento apurado
        nas tecnologias que trabalha. Tem um senso em analisar o negócio e
        trazer para técnico que hoje muito se procura e dificilmente se acha.
        Sabe analisar bem o momento de acelerar e cadenciar trazendo dinamismo
        na entrega. Tem um senso de urgência e análise muito bem apurado
        referência nos trabalhos que fizemos juntos.
      </p>
      <p class="body-regular">Head Tech e Digital</p>
    </li>
    <li class="testimonials__testimonial">
      <h4 class="testimonials__author">Hugo Brilhante</h4>
      <p class="body-regular testimonials__paragraph">
        Trabalhei com o João Bomfim (Bomffas) na equipe de desenvolvimento da
        Juntos Somos Mais e fiquei extremamente impressionado com suas
        habilidades como frontend e é um profissional dedicado e apaixonado por
        criar interfaces de usuário incríveis. Ele possui um profundo
        conhecimento em tecnologias web modernas e sempre entrega resultados de
        alta qualidade. Além disso, é uma pessoa incrível para se trabalhar,
        sempre disposto a colaborar e compartilhar seu conhecimento com a
        equipe. Eu recomendo o Joã sem hesitação para qualquer projeto de
        desenvolvimento frontend.
      </p>
      <p class="body-regular">Senior Backend Engineer</p>
    </li>
  </ul>
</section>
