.testimonials {
  padding-bottom: 80px;
  padding-top: 80px;
}

.testimonials__title {
  text-align: center;
  margin-bottom: 64px;
}

.testimonials__list {
  display: grid;
  gap: 22px;
  grid-template-columns: 1fr;
}

.testimonials__testimonial {
  background-color: var(--gray-secondary);
  padding: 40px 32px;
  border-radius: 20px;
}

.testimonials__author {
  font-family: "Bebas Neue", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 90%;
  margin-bottom: 16px;
  color: var(--white);
}

.testimonials__paragraph {
  margin-bottom: 40px;
  color: var(--gray--third);
}

.testimonials__author-position {
  color: var(--gray--third);
}

@media (width >= 768px) {
  .testimonials__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .testimonials__title {
    margin-bottom: 72px;
  }
}
