---
import "./Testimonials.css";
---

<section class="testimonials">
  <h3 class="heading-one testimonials__title">what they say about me</h3>
  <ul class="testimonials__list">
    <li class="testimonials__testimonial">
      <h4 class="testimonials__author">Cleverson Saraiva Pires</h4>
      <p class="body-regular testimonials__paragraph">
        João Bomfim (Bomffas) is a high-quality Dev with a deep understanding of
        the technologies he works with. He has a keen eye for business analysis
        and brings technical expertise that is highly sought after but hard to
        find these days. He knows when to accelerate and pace, bringing dynamism
        to delivery. He has a keen sense of urgency and analysis, a testament to
        the work we've done together.
      </p>
      <p class="body-regular">Head Tech e Digital</p>
    </li>
    <li class="testimonials__testimonial">
      <h4 class="testimonials__author">Hugo Brilhante</h4>
      <p class="body-regular testimonials__paragraph">
        I worked with João Bomfim (Bomffas) on the development team at Juntos
        Somos Mais and was extremely impressed with his frontend skills. He is a
        dedicated professional who is passionate about creating amazing user
        interfaces. He has deep knowledge of modern web technologies and
        consistently delivers high-quality results. He is also an incredible
        person to work with, always willing to collaborate and share his
        knowledge with the team. I recommend João without hesitation for any
        frontend development project.
      </p>
      <p class="body-regular">Senior Backend Engineer</p>
    </li>
  </ul>
</section>
