.button {
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  font-family: Inter, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 24px */
  border-radius: 10px;
  background-color: var(--white);
  text-decoration: none;
  color: var(--black);
  border: 1px solid transparent;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: transparent;
    color: var(--white);
    border-color: var(--white);
    transition: all 0.3s ease-in-out;
  }
}

.button.outline {
  border: 1px solid var(--white);
  background-color: transparent;
  color: var(--white);

  &:hover {
    background-color: var(--white);
    color: var(--black);
    transition: all 0.3s ease-in-out;
  }
}
