.paragraph {
	font-family: Inter, sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%;
}

.display {
	text-align: center;
	font-family: "Bebas Neue", sans-serif;
	font-size: 72px;
	font-style: normal;
	font-weight: 400;
	line-height: 90%;
	color: var(--white);
}

.body-regular {
	color: var(--gray);
	font-family: Inter, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%;
}

.heading-one {
	font-family: "Bebas Neue", sans-serif;
	font-size: 48px;
	font-style: normal;
	font-weight: 400;
	line-height: 90%;
	color: var(--white);
}

.heading-two {
	font-family: "Bebas Neue", sans-serif;
	font-size: 26px;
	font-style: normal;
	font-weight: 400;
	line-height: 80%;
	color: var(--white);
}

.heading-three {
	font-family: "Bebas Neue", sans-serif;
	text-align: center;
	font-size: 22px;
	font-style: normal;
	font-weight: 400;
	line-height: 80%;
	color: var(--white);
}

@media (width >= 1024px) {
	.display {
		font-size: 110px;
		font-weight: 400;
		line-height: 90%;
	}

	.body-regular {
		font-size: 18px;
		font-style: normal;
		font-weight: 400;
		line-height: 150%;
	}

	.heading-one {
		font-size: 56px;
		font-style: normal;
		font-weight: 400;
		line-height: 90%;
	}

	.heading-two {
		font-size: 28px;
		font-style: normal;
		font-weight: 400;
		line-height: 80%;
		color: var(--white);
	}

	.heading-three {
		font-size: 24px;
		font-style: normal;
		font-weight: 400;
		line-height: 80%;
		color: var(--white);
	}
}
